
PORT=3000
NODE_ENV=development

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=tu_password_aqui
PG_DATABASE=brasa33

JWT_SECRET=cambia_este_secreto_en_produccion_minimo_32_caracteres

API_URL=http://localhost:3000
